body {
    font-family: "Lora","open sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.swap {
    height: 300px;
    width: 400px;
    border: solid black 1px;*/
}

.map  {
    margin-top: 100px;
    border: solid black 1px;
}

#main {
    display: flex;
    justify-content: space-around;
} 

#inv-intro {
    color: #032559;
    font-size: 45px;
    text-align: center;
}

#address-paragraph {
    min-width: 230px;
    color: #564e58;
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
}

#fieldset {
    color: #564e58;
    font-size: 24px;
    font-weight: bold;
    height: 150px;
    border: none;
    margin-left: 35px;
    margin-right: 10px;
    padding-top: 0px;
}