.profile-main {
  display: flex;
  font-family: "Lora","open sans","HelveticaNeue-Light";
  color: #032559;
  padding: 20px;
  margin-top: 175px;
}

.profile-main h1 {
  font-size: 45px;
<<<<<<< HEAD
=======
  text-shadow: .5px .5px white;
>>>>>>> 747d19d95375b326ee6a84dc18f08ae7cd0bce62
}

.profile-main h3 {
  font-size: 22px;
  padding-top: 30px;
  color: #564E58;
}

#profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 50px;
  border: 2px solid #032559;
  background-color: #EBA15A;
<<<<<<< HEAD
=======
  opacity: .75;
>>>>>>> 747d19d95375b326ee6a84dc18f08ae7cd0bce62
}

#profile-container img {
  width: 320px;
  height: 210px;
  object-fit: contain; /* this only works on the image itself*/
  object-position: top center;
  filter: drop-shadow(16px 16px 5px #564E58);
  opacity: 75;
}

#profile-container span {
  margin-right: 5px;
}

#user-produce {
  font-size: 20px;
  }

#produce-table {
  margin-left: 175px;
}
#drop-produce {
  font-size: 15px;
}

#produce-table {
  margin-left: 175px;
}

#drop-produce {
  font-size: 15px;
}

#produce-table {
  margin-left: 175px;
}

#drop-produce {
  font-size: 15px;
}
