header {
  border: solid black 1px;
}

h1  {
  text-align: center;
}

main {
  display: flex;
  margin: 0;
  padding: 20px;
}

.profile-container {
  padding-left: 20px;
}

.profile-container img {
  width: 200px;
}

.inventory-list {
  padding-left: 100px;
}
